<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.richitec.imeeting"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".IMeetingAppLaunchActivity"
            android:theme="@style/AppLaunchActivityTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".account.AccountSettingActivity"
            android:label="@string/title_activity_account_setting"
            android:theme="@style/WithBgImg7NoTitleActivityTheme" >
        </activity>
        <activity
            android:name=".account.AccountRegisterActivity"
            android:label="@string/title_activity_account_register"
            android:theme="@style/WithBgImg7NoTitleActivityTheme" >
        </activity>
        <activity
            android:name=".talkinggroup.TalkingGroupHistoryListActivity"
            android:label="@string/title_activity_talking_group_history_list"
            android:theme="@style/WithBgImg7NoTitleActivityTheme" >
        </activity>
        <activity
            android:name=".assistant.SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/WithBgImg7NoTitleActivityTheme" >
        </activity>
        <activity
            android:name=".contactselect.ContactSelectActivity"
            android:label="@string/title_activity_contact_select"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".talkinggroup.TalkingGroupActivity"
            android:label="@string/title_activity_talking_group"
            android:theme="@style/WithBgImg7NoTitleFullScreenActivityTheme" >
        </activity>
        <activity
            android:name=".assistant.SupportActivity"
            android:label="@string/title_activity_support" >
        </activity>
        <activity
            android:name=".assistant.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/WithBgImg7NoTitleActivityTheme" >
        </activity>
    </application>

</manifest>